<div class="landing-page">
  <header class="onboarding-header">
    <h3 class="onboarding-title">Almost Instagram</h3>
  </header>
  {{input type="text" value=identification classNames="session-create session-username" placeholder="Username"}}
  {{input type="email" value=email classNames="session-create session-email" placeholder="Email"}}
  {{input type="password" value=password classNames="session-create session-password" placeholder="Password"}}
  {{input type="submit" value="Log In" classNames="session-create session-button" action="authenticate"}}
</div>
