<div class="landing-page">
  <header class="onboarding-header">
    <h3 class="onboarding-title">Almost Instagram</h3>
  </header>
  {{input type="text" value=name classNames="user-create user-name"}}
  {{input type="email" value=email classNames="user-create user-email"}}
  {{input type="password" value=password classNames="user-create user-password"}}
  {{input type="submit" value="Sign Up" classNames="user-create-submit"}}
</div>
