<div class="landing-page">
  <header class="onboarding-header">
    <h3 class="onboarding-title">Almost Instagram</h3>
  </header>
  <a href="/users/create"><button class="facebook-sign-up-button">Sign Up with FaceBook</button></a>
  <a href="/users/create"><button class="email-sign-up-button">Sign Up with Email</button></a>
  <a href="/sessions/create"><button class="current-user-log-in-button">Already have an account? Log In</button></a>
</div>
