{{outlet}}
<footer class="app-footer">
  <a href="/" class="nav-footer home"><i class="fa fa-home nav-icon"></i></a>
  <a href="explore" class="nav-footer explore"><i class="fa fa-compass nav-icon"></i></a>
  <a href="create" class="nav-footer create"><i class="fa fa-camera nav-icon"></i></a>
  <a href="activity" class="nav-footer activity"><i class="fa fa-comments nav-icon"></i></a>
  <a href="profile" class="nav-footer profile"><i class="fa fa-user nav-icon"></i></a>
</footer>
